
body {
    background-image: #f5f5f5;
    color: black;
    font-family: 'Droid Serif', serif;
}
h1 {
    margin-top: 30px;
    text-align: center;
}
div {
    margin-top: 10px;
    text-align: center;
}

.img-container {
  width: 76.5%; /*I did this so the github icon is in-between the two images */
  margin: 40px auto;
}

a#shit {
  float: left;
  position: relative;
}